@import "vars";
@import "vendor/reset";

body {
    background: #f1f2f3;

    font-family: 'Open Sans', 'Roboto', sans-serif;;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}

/* Blocks */
@import "ankets/header";
@import "ankets/ankets";
@import "ankets/adaptiv";


